<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h3>Login</h3>
    
    <% include ./partials/messages.ejs %> 

    <form action="/users/signin" method="POST">
        
        <div class="form-group justify-content-center">
            <label for="username">Username</label>
            <input style="width:300px;" type="email" class="form-control" name="username" placeholder="Enter username">

            <label for="password">Password</label>
            <input style="width: 300px;" type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-primary">Signin</button>
      
    </form>

    </div>
</body>
</html>